<nav class="navbar navbar-expand-lg bg-light">
  <div class="container container-fluid">
    <h2>
      <a rel="author" class="navbar-brand" href="{{"/" | relative_url }}">{{ site.title | escape }}</a>
    </h2>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#MainNavBar" aria-controls="MainNavBar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="MainNavBar" style="">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" aria-expanded="false" data-bs-toggle="dropdown">রচনাবলী</a>
            <div class="dropdown-menu" aria-labelledby="landingsMegaMenu" style="min-width: 30rem;max-width: 30rem;animation-duration: 300ms;" data-bs-popper="static">
            <div class="navbar-dropdown-menu-inner">
              <div class="row">
                <div class="col-sm mb-3 mb-sm-0">
                  <span class="dropdown-header">Classic</span>
                  <a class="dropdown-item active" href="#">শরৎচন্দ্র</a>
                  <a class="dropdown-item " href="#">রবীন্দ্র</a>
                  <a class="dropdown-item " href="#">নজরুল</a>
                  <a class="dropdown-item " href="#">বঙ্কিম চন্দ্র</a>
                  <a class="dropdown-item " href="#">হুমায়ুন আজাদ</a>
                </div>
                <div class="col-sm">
                  <span class="dropdown-header">Services</span>
                  <a class="dropdown-item " href="#">Growth</a>
                  <a class="dropdown-item " href="#">SaaS</a>
                  <a class="dropdown-item " href="#">Wallet</a>
                  <a class="dropdown-item " href="#">API</a>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-divider"></li>
        <li class="nav-item">
          <a class="d-none d-lg-inline-block btn btn-primary" href="#" role="button" data-bs-toggle="modal" data-bs-target="#signupModal">
            <i class="bi-person-circle me-1"></i> নিবন্ধন করুন
          </a>
        </li>
      </ul>
      <i class="fa fa-search"  type="button" data-bs-toggle="modal" data-bs-target="#SearchModal"></i>
      <div class="modal fade" id="SearchModal" tabindex="-1" aria-labelledby="SearchModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <div class="form mb-3">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control form-input" id="search-input" placeholder="search...">
              </div>
              <ul class="p-3" id="results-container"></ul>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</nav>
